body{
	background: #fff;
	color: #272525;
	font-family: 'Muli', sans-serif;
	font-size: 16px;
}

h1,h2,h3 {
	font-family: 'Francois One', sans-serif;
	color: #3E4E56;
}

h2 {
	font-size: 2.5em;
}

h3 {
	font-size: 2em;
}

a {
	color: #272525;
	text-decoration: none;
	font-family: 'Muli', sans-serif;
}

a:hover {
	color: #575757;
}

.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}

header nav {
	float: right;
	margin: 2em;
}

header nav a {
	margin: 2em;
	padding: 1em;
	border-top: 2px solid #272525;
}

header nav a:hover{
	color: #575757;
	border-top: none;
	border-bottom: 2px solid #272525;
}

article#featured{
	max-width: 1250px;
	margin: 4em auto;
	height: 20em;
}

article#featured img{
	width: 66%;
	float: left;
	height: inherit;
}

article#featured div {
	width: 33%;
	float:right;
	background: #eee;
	padding: 2em;
}

article#featured a {
	float:right;
}

h2+p {
	margin-top: 1.5em;
}

article h2 {
	font-size: 2.5em;
}

article p {
	line-height: 1.2em;
}

.readmore {
	text-decoration: none;
	color: #fff;
	background: #463E56;
	padding: .5em;
	display: inline-block;
	width: 6em;
	text-align: center;
	margin-top: 1.5em;
	border-radius: .3em;
}

aside {
	float: left;
	border-right: 2px solid #eee;
	max-width: 20em;
}

aside a {
	display: block;
}

aside h3 {
	font-size: 2em;
}

aside h3+a {
	margin-top: 1.2em;
}

#subscribe p {
	background: #eee;
	color: #bbb;
	margin-top: 1em;
	padding: .5em;
	border-radius: .5em;
}

aside div+div {
	margin-bottom: 1.5em;
}