*{margin:0;padding:0;box-sizing:border-box;}
body {
	background: #e9eaec;
	color: #424242;
	font-family: 'Karma', serif;
	font-weight: 400;
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
}

h4 {
	font-size: 1.64em;
	font-weight: 400;
}

h3 {
	font-size: 2.69em;
}

h2 {
	font-size: 2em;
	font-weight: 800;
}

p+p {
	margin-top: 1.2em;
}

a+p,a+h1,a+h2,a+h3,a+h4 {
	margin-top: 1.2em;
}

a {
	color: #CCB0B5;
	text-decoration: none;
}

a:hover {
	color: #B29DA1;
}

a.button {
	background: #424242;
	margin-top: 1.5em;
	padding: 1em 1.5em;
	display: inline-block;
	text-decoration: none;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	letter-spacing: 1px;
	font-size: 12px;
	text-align: center;
}

a.button:hover {
	background: rgba(66,66,66,.85);
	color: #fff;
}

a.pinkbutton {
	background: #CCB0B5;
	width: 100%;
}

a.pinkbutton:hover {
	background: #B29DA1;
	color: #fff;
}

.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}

.maxwidth {
	width: 90%;
	max-width: 1400px;
	margin: 0 auto;
}

.cursive {
	font-family: 'Satisfy', cursive;
	font-weight: 400;
}

.vast {
	font-family: 'Vast Shadow', cursive;
	font-weight: 400;
	font-size: 4em;
	text-align: center;
	margin-top: .5em;
	text-transform: uppercase;
}

.section-padding {
	padding: 4em 0 4em;
}

.title-padding {
	margin-bottom: 1em;
}

.dash {
	border-top: 2px dashed #424242;
}

.column-four {
	float: left;
	width: 25%;
	padding: 1em;
}

.column-two {
	float: left;
	width: 50%;
	padding: 1em;
}

.whitebox {
	background: #fff;
	padding: 2.5em;
	box-shadow: 0 10px 15px rgba(0,0,0,.5);
}

.blackbox {
	background: #424242;
	color: #fff;
	padding: 2.5em;
	box-shadow: 0 10px 15px rgba(0,0,0,.5);
}

.overlay-black {
	background: rgba(66,66,66,.5);
	color: #fff;
}

.overlay-white {
	background: rgba(255,255,255,.5);
}
/******************
	Top Nav
*******************/	

div#topbar {
	position: fixed;
	background: rgba(66,66,66,.8);
	color: #fff;
	top: 0;
	right: 0;
	left: 0;
	max-height: 6em;
	box-shadow: 0 10px 15px rgba(0,0,0,.5);
	padding: 1em;
	z-index: 99;
}

div#topbar h1, h2 {
	display: inline-block;
}

div#topbar h1#mobile-hdr {
	visibility: hidden;
	width: 0;
	height: 0;
}

div#topbar h1 {
	font-size: 3em;
	color: #CCB0B5;
}

div#topbar h2 {
	font-size: 1.5em;
	font-weight: 400;
	margin-left: 1em;
}

div#topbar h1 a:hover{
	color: #CCB0B5;
}

div#topbar nav {
	position: absolute;
	top: 1.3em;
	right: 0;
}

div#topbar nav a {
    display: inline-block;
    padding: .5em 1em;
    margin: 0 .3em 0;
    color: #fff;
    text-transform: uppercase;
	letter-spacing: .1em;
	font-family: 'Raleway', sans-serif;
 }

 div#topbar nav a:hover {
 	font-weight: 800;
 }

div#topbar nav a+a {
	margin-top: 1em;
}

/*****************
	Header
******************/	

header#about {
	height: 825px;
	background: url(images/hippies.jpg) no-repeat center top;
	background-size: cover;
	padding: 0;
	margin:0;
}

header#about div.overlay-black {
	height: inherit;
	position: relative;
}

header#about div div {
	padding:  2em;
	position: absolute;
	bottom: 8em;
	left: 0;
	right: 0;
}

header#about h1 {
	text-align: center;
	font-size: 4em;
	text-shadow: 10px 15px 15px rgba(0,0,0,.5);
	font-weight: 800;
}

header#about h1 span.small {
	font-size: .6em;
}

header#about h1 span#two {
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: .1em;
}

header#about h1 span#two:before {
	content:"\2013";
}

header#about h1 span#two:after {
	content:"\2013";
}

header#about h1 span#three {
	font-weight: 400;
	font-size: .8em;
}

header#about hr {
	max-width: 380px;
	margin: 0 auto;
}

header#about hr+p {
	margin-top: 1.5em;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

/*****************
	Schedule
******************/

section#schedule div div.column-four h2 {
	margin-bottom: 1.2em;
	border-bottom: 2px solid #424242;
	padding-bottom: .5em;
	width: 100%;
}

section#schedule div#saturday {
	width: 50%;
}

section#schedule div#saturday div.wrapper {
	float: left;
	width: 50%;
}

section#schedule div#saturday div#reception {
	margin-right: 1em;
}

section#schedule div#saturday div#afterparty {
	margin-left: 1em;
}

section#schedule a.button {
	width: 100%;
}

/*******************
	Loctation 
********************/

section#mpls h2 {
	font-size: 3em;
	width: 100%;
}

section#mpls h3 {
	font-size: 2em;
	text-transform: lowercase;
	margin: 1em 0 .5em;
	border-bottom: 2px solid #424242;
	padding-bottom: .5em;
}

section#mpls section#lodging a.button {
	width: 100%;
}

section#mpls #gettingaround .mobile-col:last-child {
	margin-top: 1.2em;
}

section#mpls section#food {
	margin-top: 2em;
}

section#mpls section#food h3 {
	font-weight: 400;
	margin-bottom: 1em;
}

section#mpls .row {
	width: 100%;
}

section#mpls section#food .column-four {
	width: 25%;
}

.icon {
	float: left;
	width: 25%;
	padding-right: 1em;
}

section#mpls section#food img {
	width: 100%;
}

.links {
	float:right;
	width: 75%;
}

section#mpls section#food h4 a {
	color: #424242;
	font-size: .75em;
}

/******************
	Gifts
*******************/

section#gifts .column-three {
	float: left;
	width: 33.33%;
	margin-top: 2em;
	padding-left: 1em;
}

section#gifts h2 {
	font-size: 3em;
}

section#gifts h3 {
	font-size: 1.5em;
	font-weight: 400;
}

/************
	RSVP
*************/

section#rsvp {
	background: #424242;
}

section#rsvp iframe {
	max-height: 1190px;
	width: 100%;
	margin: 0 auto;
}

/******************
 	Footer
 ******************/

footer {
	font-family: "Raleway", sans-serif;
	text-align: center;
}

footer div.maxwidth {
	margin-top: 3em;
	border-top: 2px solid #424242;
	border-bottom: 2px solid #424242;
	padding: 3em 0;
}

footer div#container {
	width: 66.33%;
	margin: 0 auto;
}

footer .vast {
	font-size: 1.5em;
}

/*********************
	Hamburger Menu
**********************/
.mobile-nav {
	width: 33.33%;
	position: absolute;
	top: .3em;
	right: 0;
	padding: 1.5em 0 0;
	display: none;
}

.menu-btn {
	position: absolute;
	right: 3em;
}

.menu-btn div {
	position: absolute;
	left: 100%;
	top: 64%;
	padding-right: 8px;
	margin-top: 5em;
	line-height: 1.2;
	font-size: 18px;
	font-weight: 200;
	vertical-align: middle;
	z-index: 99;
	background: #fff;
}

.menu-btn span {
	display: block;
	width: 25px;
	height: 3px;
	margin: 6px 0;
	background: #fff;
	z-index: 99;
	border-radius: 18%;
}

.menu-btn span:hover {
	color: #B29DA1;
}

.responsive-menu {
	margin-top: 4.2em;
}

.responsive-menu a {
	display: block;
	background: rgba(66,66,66,.9);
    padding: 1em 0;
    text-transform: uppercase;
	color: #fff;
	letter-spacing: .1em;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

.responsive-menu a:last-child {
	box-shadow: 0 10px 15px rgba(0,0,0,.5);
}

.responsive-menu a:hover {
	color: #424242;
	background: #fff;
	font-weight: 800;
}

.expand {
	display: block !important;
	background: rgba(66,66,66,.6);
}

/*********************
	Media Queries
**********************/

@media only screen and (max-width: 1440px) {
		body {
			transition: all .3s ease;
		}
		header#about {
			height: 680px;
		}
 } 

@media only screen and (max-width: 1152px) {
		h2 {
			font-size: 1.5em;
		}
		.mobile-nav {
			display: block;
		}
		.responsive-menu {
			display: none;
		}
		.button {
			margin-top: 1em;
			letter-spacing: 0;
			font-size: .75em;
		}
		div#topbar,footer h1 {
			font-size: 2em;
		}
		div#topbar,footer h2 {
			font-size: 1em;
		}
		div#topbar nav {
			display: none;
		}
		section#schedule .whitebox {
			padding: 1.5em;
		}
		section#schedule .column-four {
			padding: .5em;
		}
		section#schedule div#saturday div#reception {
			margin-right: .5em;
		}
		section#schedule div#saturday div#afterparty {
			margin-left: .5em;
		}
}

@media only screen and (max-width: 1006px) {
		section#schedule .whitebox {
			padding: 1.75em;
		}
		section#schedule .blackbox {
			padding: 1.75em;
		}
		section#schedule .column-four {
			padding: .5em;
		}
		section#schedule .column-two {
			padding: .5em;
		}
		section#schedule div#saturday div#reception {
			margin-right: .5em;
		}

		section#schedule div#saturday div#afterparty {
			margin-left: .5em;
		}
}

@media only screen and (max-width: 930px) {
		section#schedule .whitebox {
			padding: 1.25em;
		}
		section#schedule .blackbox {
			padding: 1.25em;
		}
		section#schedule .column-four {
			padding: .25em;
		}
		section#schedule .column-two {
			padding: .25em;
		}
		section#schedule div#saturday div#reception {
			margin-right: .25em;
		}

		section#schedule div#saturday div#afterparty {
			margin-left: .25em;
		}
		section#mpls section#food .icon {
			width: 30%;
		}
		section#mpls section#food .links {
			width: 70%;
		}
		section#gifts .column-three {
			width: 50%;
		}
}

@media only screen and (max-width: 850px) {
		a.button {
			width: 100%%;
		}
		.column-four {
			width: 100%;
			padding: 1em;
		}
		.column-two {
			padding: 1em;
		}
		.whitebox {
			padding: 2.5em;
		}
		.blackbox {
			padding: 2.5em;
		}
		header#about {
			background: url(images/hippies.jpg) no-repeat right top;
			background-size: cover;
		}
		header#about h1 {
			font-size: 2.5em;
		}
		section#schedule h1 {
			margin-bottom: 0;
		}
		section#schedule div div.column-four h2 {
			margin-top: 1em;
		}
		section#schedule div#saturday div#reception {
			margin-right: 1em;
		}
		section#schedule div#saturday div#afterparty {
			margin-left: 1em;
		}
		section#schedule .mobile-col {
			float: left;
			width: 50%;
		}
		section#schedule .mobile-button {
			padding-left: 3.5em;
		}
		section#schedule div#saturday {
			width: 100%%;
		}
		section#mpls section#food .column-four {
			width: 50%;
		}
		section#mpls section#food .icon {
			width: 25%;
		}
		section#mpls section#food .links {
			width: 75%;
		}
		section#rsvp div {
			width: 100%;
			margin: 2em auto;
			padding: 1em;
		}
}

@media only screen and (max-width: 776px) {
		section#mpls .whitebox {
			padding: 1.25em;
		}
		section#mpls .blackbox {
			padding: 1.25em;
		}
		section#mpls .column-four {
			padding: .25em;
		}
		section#mpls .column-two {
			padding: .25em;
		}
		section#gifts .icon {
			width: 20%;
		}
		section#gifts .links {
			width: 80%;
		}
		section#rsvp iframe {
			max-height: 1150px;
		}
		footer div#container {
			width: 80%;
		}
}

@media only screen and (max-width: 630px) {
		body {
			font-size: 14px;
		}
		div#topbar h1 {
			visibility: hidden;
			display: none;
			width: 0;
		}
		div#topbar h1#mobile-hdr {
			visibility: visible;
			display: inline;
			width: initial;
		}
}		

@media only screen and (max-width: 550px) {
		.whitebox {
			padding: 1.75em;
		}
		.blackbox {
			padding: 1.75em;
		}
		.vast {
			font-size: 3em;
			margin-top: .5em;
		}
		header#about h1 {
			font-size: 2em;
		}
		section#schedule .column-four, section#mpls .column-two {
			width: 100%;
			padding: 1em;
		}
		section#schedule div#saturday div#reception {
			margin-right: .5em;
		}
		section#schedule div#saturday div#afterparty {
			margin-left: .5em;
		}
		section#mpls h2.cursive {
			font-size: 2em;
		}
		section#mpls h3 {
			font-size: 1.5em;
		}
		section#mpls .mobile-col {
			float: left;
			width: 50%;
		}
		section#mpls .mobile-button {
			padding-left: 3.5em;
		}
		section#mpls #gettingaround .mobile-col:first-child {
			padding-right: .5em;
		}
		section#mpls #gettingaround .mobile-col:last-child {
			padding-left: .5em;
			margin-top: 0;
		}
		section#mpls section#food .column-four {
			height: 7em;
		}
		section#gifts .column-three {
			width: 100%;
			padding: 0;
		}
		section#gifts h2 {
			font-size: 2em;
		}
		section#gifts h3 {
			font-size: 1.5em;
		}
		footer div#container {
			width: 100%;
		}
		footer .column-two {
			width: 100%;
		}
}

@media only screen and (max-width: 480px) {
		body {
			font-size: 12px;
		}
		a.button {
			width: 100%%;
		}
		a.pinkbutton {
			width: 100%%;
		}
		header#about {
			background: url(images/hippies.jpg) no-repeat right top;
			background-size: cover;
			height: 300px;
		}
		header#about div div {
			bottom: 0;
		}
		header#about h1 {
			font-size: 1.75em;
		}
		section#schedule div#saturday div.wrapper {
			float: none;
			width: 100%;
		}
		section#schedule div#saturday div#reception {
			margin-right: 0;
			margin-bottom: 2em;
		}
		section#schedule div#saturday div#afterparty {
			margin-left: 0;
		}
		section#schedule .whitebox, section#mpls .whitebox, section#mpls .blackbox {
			padding: 2em;
		}
		section#schedule .mobile-col, section#mpls .mobile-col {
			float: none;
			width: 100%;
		}
		section#schedule .mobile-button, section#mpls .mobile-button {
			padding: 0;
		}
		section#mpls section#food .column-four {
			width: 50%;
		}
		section#mpls section#lodging a.button {
			width: 100%%;
		}
		section#mpls #gettingaround .mobile-col:first-child {
			padding: 0;
		}
		section#mpls #gettingaround .mobile-col:last-child {
			padding: 0;
			margin-top: 1em;
		}
		section#mpls section#food .column-four {
			width: 100%;
			height: initial;
			margin-bottom: 1em;
		}
		section#mpls section#food .icon {
			width: 15%;
		}
		section#mpls section#food .links {
			width: 85%;
		}
		section#rsvp iframe {
			height: 1130px;
		}
}

@media only screen and (max-width: 360px) {
		div#topbar h2 {
			visibility: hidden;
		}
		header#about div div {
			padding: 1em;
		}
		section#mpls section#food .icon {
			width: 20%;
		}
		section#mpls section#food .links {
			width: 80%;
		}
		section#rsvp iframe {
			height: 1150px;
		}
}

@media only screen and (max-width: 320px) {
		header#about {
			background: url(images/hippies.jpg) no-repeat right;
			background-size: cover;
			height: 352px;
		}
		header#about div div {
			padding: 1em 1em 2em;
		}
}