*{margin:0;padding:0;box-sizing:border-box;}
body {
	background: #e9eaec;
	color: #424242;
	font-family: 'Karma', serif;
	font-weight: 400;
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
}

a {
	color: #CCB0B5;
	text-decoration: none;
}

a:hover {
	color: #B29DA1;
}

.button {
	background: #424242;
	margin-top: 2.5em;
	padding: 1em 1.5em;
	display: inline-block;
	text-decoration: none;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	letter-spacing: 1px;
	font-size: 12px;
}

.button:hover {
	background: rgba(66,66,66,.85);
}

.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}

.maxwidth {
	max-width: 1400px;
	margin: 0 auto;
}

.cursive {
	font-family: 'Satisfy', cursive;
}

.vast {
	font-family: 'Vast Shadow', cursive;
	font-weight: 400;
}

header {
	background: url(images/hippies.jpg) no-repeat center top;
	background-size: cover;
	height: 40em;
	position: relative;
}

header aside {
	background: rgba(66,66,66,.7);
	color: #fff;
	width: 33.33%;
	padding: 3em;
	position:absolute;
	top: 0;
	left: 0;
	bottom: 0;
}

header h1 {
	font-size: 3em;
	color: #CCB0B5;
}

header h2 {
	font-size: 1.5em;
	font-weight: 400;
}

header nav {
	margin: 3em 0;
}

header nav a {
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: .1em;
	font-family: 'Raleway', sans-serif;
}

header nav a+a {
	margin-top: 1em;
}

header nav div a {
	color: #CCB0B5;
	margin-top: 1em;
}

section#about {
	background: #fff;
}

section#about>div {
	padding: 3em 3em 4em 3em;
}

section#about h1 {
	text-align: center;
	font-size: 3em;
}

section#about h1 span.small {
	font-size: .6em;
}

section#about h1 span#two {
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: .1em;
}

section#about h1 span#two:before {
	content:"\2013";
}

section#about h1 span#two:after {
	content:"\2013";
}

section#about h1 span#three {
	font-weight: 400;
	font-size: .8em;
}

section#about hr {
	max-width: 380px;
	margin: 0 auto;
}

section#about hr+p {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

section h1.vast {
	font-size: 4em;
	text-align: center;
	margin: 1.5em 0 .5em;
	position: relative;
}

section h1 span.title {
	padding: .5em;
	background: #e9eaec;
	position: absolute;
	right: 30%;
	left: 30%;
	bottom: -70px;
}

section h1 hr {
	max-width: 1000px;
	margin: 0 auto;
}

section#schedule h1 {
	margin-bottom: 1em;
}

section#schedule div {
	float: left;
	width: 25%;
	padding: 1.5em 0 0 3em;	
	/*border-top: 5px solid #424242;*/
}

/*section#schedule div:hover {
	color: #45673E;
	border-top-color: #45673E;
}*/

section#mpls h2 {
	font-weight: 400;
	text-align: center;
	margin: 4em 0 1.5em;
}

section#mpls div div {
	float: left;
	width: 25%;
	padding: 2em;
}

section#mpls img {
	border-radius: 50%;
	width: 100%;
}

footer {
	background: #424242;
	color: #fff;
}

footer section.address {
	float: left;
	width: 33.33%;
	padding: 6em 2em;
	text-align: center;
}

.map {
	display: block;
	margin-top: 1em;
}
