*{margin:0;padding:0;box-sizing:border-box;}
body {
	background: #e9eaec;
	color: #424242;
	font-family: 'Karma', serif;
	font-weight: 400;
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
}

p+p {
	margin-top: 1.2em;
}

a+p {
	margin-top: 1.2em;
}

a {
	color: #CCB0B5;
	text-decoration: none;
}

a:hover {
	color: #B29DA1;
}

a.button {
	background: #424242;
	margin-top: 1.5em;
	padding: 1em 1.5em;
	display: inline-block;
	text-decoration: none;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	letter-spacing: 1px;
	font-size: 12px;
	text-align: center;
}

a.button:hover {
	background: rgba(66,66,66,.85);
	color: #fff;
}

a.pinkbutton {
	background: #CCB0B5;
	width: 100%;
}

a.pinkbutton:hover {
	background: #B29DA1;
	color: #fff;
}

.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}

.maxwidth {
	max-width: 1400px;
	margin: 0 auto;
}

.cursive {
	font-family: 'Satisfy', cursive;
}

.vast {
	font-family: 'Vast Shadow', cursive;
	font-weight: 400;
	font-size: 4em;
	text-align: center;
	margin-top: .5em;
	text-transform: uppercase;
}

.dash {
	border-top: 2px dashed #424242;
}

h2.subtitle {
	font-weight: 400;
	text-align: center;
	margin: 1.5em 0;
}

.column {
	float: left;
	width: 25%;
	padding: 1.5em;
}

.whitebox {
	background: #fff;
	padding: 2.5em;
}

header {
	background: url(images/hippies.jpg) no-repeat center top;
	background-size: cover;
	height: 40em;
	position: relative;
}

header aside {
	background: rgba(66,66,66,.7);
	color: #fff;
	width: 33.33%;
	padding: 3em;
	position:absolute;
	top: 0;
	left: 0;
	bottom: 0;
}

header h1 {
	font-size: 3em;
	color: #CCB0B5;
}

header h2 {
	font-size: 1.5em;
	font-weight: 400;
}

header nav {
	margin: 3em 0;
}

header nav a {
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: .1em;
	font-family: 'Raleway', sans-serif;
}

header nav a+a {
	margin-top: 1em;
}

header nav div a {
	color: #CCB0B5;
	margin-top: 1em;
}

section#about {
	background: #fff;
}

section#about>div {
	padding: 3em;
}

section#about h1 {
	text-align: center;
	font-size: 3em;
}

section#about h1 span.small {
	font-size: .6em;
}

section#about h1 span#two {
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: .1em;
}

section#about h1 span#two:before {
	content:"\2013";
}

section#about h1 span#two:after {
	content:"\2013";
}

section#about h1 span#three {
	font-weight: 400;
	font-size: .8em;
}

section#about hr {
	max-width: 380px;
	margin: 0 auto;
}

section#about hr+p {
	margin-top: 1.5em;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

section#schedule {
	padding: 1em 0 2em;
}

section#schedule h1 {
	margin-bottom: 1em;
}

section#schedule div.column h2 {
	margin-bottom: 1.2em;
	border-bottom: 2px solid #424242;
	padding-bottom: .5em;
}

section#schedule a.button {
	width: 100%;
}

section#mpls {
	padding: 1em 0 2em;
}

section#mpls div div#food, div#lodging, div#contact {
	padding: 1.5em;
}

section#mpls div#food {
	width: 80%;
	margin: 0 auto;
}

section#mpls img {
	border-radius: 50%;
	width: 100%;
}

section#mpls h2 {
	font-size: 3em;
	padding: 0 .65em;
}

section#mpls h3 {
	font-weight: 400;
	padding: 0 1.5em;
}

section#mpls div#lodging a.button {
	width: 100%;
}

section#gifts {
	padding: 1em 0 2em;
}

section#gifts div.twocolumn {
	float: left;
	width: 50%;
}

section#gifts div:first-child {
	background: url(images/scotland.jpg) no-repeat center bottom;
	background-size: cover;
	overflow: hidden;
}

section#gifts div:last-child {
	padding: 0 2.5em;
}

section#gifts div#left {
	background: rgba(66,66,66,.5);
	width: 100%;
	height: 100%;
	padding: 2.5em;
}

section#gifts div#left h2 {
	text-align: center;
	font-size: 4em;
	color: #fff;
}

section#gifts div#left h2 span#scotland {
	font-family: 'Vast Shadow', cursive;
	font-weight: 400;
}

section#gifts div#left h2 span#to {
	font-weight: 400;
	font-size: .6em;
}

section#rsvp {
	padding: 1em 0 2em;
}

section#rsvp div {
	width: 66.33%;
	margin: 2em auto;
}

footer {
	background: #424242;
	color: #fff;
	padding: 3em;
	font-family: "Raleway", sans-serif;
}

footer h1 {
	font-size: 3em;
	color: #CCB0B5;
}

footer h2 {
	font-size: 1.5em;
	font-weight: 400;
}

footer h3 {
	margin-top: 1.5em;
}

label {
    display: none;
    position: absolute;
    font-size: 1.2em;
    top: 0.7em;
    right: 12px; 
    z-index: 2;
  }

@media only screen and (max-width: 1235px) {
	.column {
		padding: 1em;
	}
 } 

@media only screen and (max-width: 1030px) {
	body {
		font-size: 14px;
	}
	.button {
		margin-top: 1em;
		letter-spacing: 0;
		font-size: .75em;
	}
	header,footer h1 {
		font-size: 2em;
	}
	header,footer h2 {
		font-size: 1em;
	}
}

@media only screen and (max-width: 768px) {
	body {
		font-size: 12px;
	}
	section div.column {
		width: 50%;
	}

	section#schedule div.satcol {
		float: left;
		width: 100%;
	}

	section#schedule div#reception {
		padding-right: none;
	}

	section#schedule div#after {
		padding-left: none;
	}
	section#rsvp div {
		width: 100%;
		margin: 2em auto;
		padding: 1em;
	}
}

@media only screen and (max-width: 560px) {
	footer>div {
		width: 100%;
	}
}

@media only screen and (max-width: 320px) {
	section#about h1 {
		font-size: 1.5em;
	}
	.vast {
		font-size: 2em;
		margin-top: .5em;
	}
	section div.column {
		width: 100%;
	}
	section#schedule div#saturday {
		width: 100%;
	}
	section#schedule div.column h2 {
		margin-bottom: 1em;
		border-bottom: none;
		padding-bottom: .5em;
	}
	section h2.subtitle {
		margin: 1.5em 1em;s
	}
	section#gifts div div {
		width: 100%;
		padding: 1em;
	}
	footer section.address {
		width: 100%;
		padding: 2em 2em .5em;
		text-align: center;
	}
	footer section.address:last-child {
		padding-bottom: 2em;
	}
}