*{margin:0;padding:0;box-sizing:border-box;}
body {
	background: #e9eaec;
	color: #424242;
	font-family: 'Karma', serif;
	font-weight: 400;
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
}

p+p {
	margin-top: 1.2em;
}

a+p {
	margin-top: 1.2em;
}

a {
	color: #CCB0B5;
	text-decoration: none;
}

a:hover {
	color: #B29DA1;
}

a.button {
	background: #424242;
	margin-top: 1.5em;
	padding: 1em 1.5em;
	display: inline-block;
	text-decoration: none;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	letter-spacing: 1px;
	font-size: 12px;
	text-align: center;
}

a.button:hover {
	background: rgba(66,66,66,.85);
	color: #fff;
}

a.pinkbutton {
	background: #CCB0B5;
	width: 100%;
}

a.pinkbutton:hover {
	background: #B29DA1;
	color: #fff;
}

.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}

.maxwidth {
	width: 90%;
	max-width: 1400px;
	margin: 0 auto;
}

.cursive {
	font-family: 'Satisfy', cursive;
}

.vast {
	font-family: 'Vast Shadow', cursive;
	font-weight: 400;
	font-size: 4em;
	text-align: center;
	margin-top: .5em;
	text-transform: uppercase;
}

.dash {
	border-top: 2px dashed #424242;
}

.column {
	float: left;
	width: 25%;
	padding: 1em;
}

.whitebox {
	background: #fff;
	padding: 2.5em;
}

header {
	background: url(images/hippies.jpg) no-repeat center top;
	background-size: cover;
	height: 300px;
}

header aside {
	background: rgba(66,66,66,.5);
	color: #fff;
	width: 100%;
	height: inherit;
	padding: 3em;
}

header h1 {
	font-size: 3em;
	color: #CCB0B5;
}

header h2 {
	font-size: 1.5em;
	font-weight: 400;
}

header nav {
	margin: 3em 0;
}

header nav a {
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: .1em;
	font-family: 'Raleway', sans-serif;
}

header nav a+a {
	margin-top: 1em;
}

header nav div a {
	color: #CCB0B5;
	margin-top: 1em;
}

section#about {
	background: #fff;
}

section#about>div {
	padding: 3em;
}

section#about h1 {
	text-align: center;
	font-size: 3em;
}

section#about h1 span.small {
	font-size: .6em;
}

section#about h1 span#two {
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: .1em;
}

section#about h1 span#two:before {
	content:"\2013";
}

section#about h1 span#two:after {
	content:"\2013";
}

section#about h1 span#three {
	font-weight: 400;
	font-size: .8em;
}

section#about hr {
	max-width: 380px;
	margin: 0 auto;
}

section#about hr+p {
	margin-top: 1.5em;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

section#schedule {
	padding: 0 0 2em;
}

section#schedule h1 {
	margin-bottom: 1em;
}

section#schedule div.column h2 {
	margin-bottom: 1.2em;
	border-bottom: 2px solid #424242;
	padding-bottom: .5em;
}

section#schedule div#saturday {
	width: 50%;
}

section#schedule div#saturday div.wrapper {
	float: left;
	width: 50%;
}

section#schedule div#saturday div#reception {
	margin-right: 1em;
}

section#schedule div#saturday div#afterparty {
	margin-left: 1em;
}

section#schedule a.button {
	width: 100%;
}

section#mpls {
	padding: 0 0 2em;
}

section#mpls img {
	border-radius: 50%;
	width: 100%;
}

section#mpls h2 {
	font-size: 3em;
	padding: 0 .65em;
}

section#mpls h3 {
	font-weight: 400;
	padding: 0 1.5em;
}

section#mpls section#lodging a.button {
	width: 100%;
}

section#mpls section#food {
	margin-top: 2em;
}

section#gifts {
	padding: 0 0 2em;
}

section#gifts h2 {
	font-weight: 400;
	text-align: center;
	margin: 0 0 2.5em;
}

section#gifts div.twocolumn {
	float: left;
	width: 50%;
}

section#gifts div:first-child {
	background: url(images/scotland.jpg) no-repeat center bottom;
	background-size: cover;
	overflow: hidden;
}

section#gifts div:last-child {
	padding-left: 2.5em;
}

section#gifts div#left {
	background: rgba(66,66,66,.5);
	width: 100%;
	height: 100%;
	padding: 2.5em;
}

section#gifts div#left h3 {
	text-align: center;
	font-size: 4em;
	color: #fff;
}

section#gifts div#left h3 span#scotland {
	font-family: 'Vast Shadow', cursive;
	font-weight: 400;
}

section#gifts div#left h3 span#to {
	font-weight: 400;
	font-size: .6em;
}

section#rsvp {
	padding: 2em 0;
}

section#rsvp iframe {
	overflow: hidden;
}

footer {
	background: #424242;
	color: #fff;
	padding: 3em 0 0;
	font-family: "Raleway", sans-serif;
}

footer h1 {
	font-size: 3em;
	color: #CCB0B5;
}

footer h2 {
	font-size: 1.5em;
	font-weight: 400;
}

footer h3 {
	margin-top: 1.5em;
}

footer div div {
	float: left;
	width: 33.33%;
	margin: 0 auto 3em;
	padding-left: 6em;
}

@media only screen and (max-width: 1440px) {
	header {
		height: 680px;
	}
	footer div div {
		padding-left: 2.5em;
	}	
 } 

@media only screen and (max-width: 1030px) {
	body {
		font-size: 14px;
	}
	header {
		height: 548px;
	}
	.button {
		margin-top: 1em;
		letter-spacing: 0;
		font-size: .75em;
	}
	header,footer h1 {
		font-size: 2em;
	}
	header,footer h2 {
		font-size: 1em;
	}
	footer div div {
		padding-left: 2em;
	}
}

@media only screen and (max-width: 768px) {
	body {
		font-size: 12px;
	}
	header {
		background: url(images/hippies.jpg) no-repeat right top;
		background-size: cover;
	}
	.column {
		width: 100%;
		transition: .3s ease;
	}
	.mobile {
		float: left;
		width: 50%;
	}
	a.pinkbutton {
		width: 25%%;
	}
	section#schedule a.button {
		width: 50%%;
	}
	section#schedule div#saturday {
		width: 100%%;
	}
	section#schedule div#saturday a.button {
		width:100%;
	}
	section#mpls section#lodging a.button {
		width: 50%%;
	}
	section#mpls #food .column {
		width: 50%;
		transition: .3s ease;
	}
	section#rsvp div {
		width: 100%;
		margin: 2em auto;
		padding: 1em;
	}
	footer div div {
		padding-left: 1em;
	}
}

@media only screen and (max-width: 480px) {
	header {
		background: url(images/hippies.jpg) no-repeat right top;
		background-size: cover;
		height: 202px;
	}
	section#gifts div:last-child {
		padding: 0 1em;
	}

	section#gifts div#left {
		padding: 1.5em;
	}

	section#gifts div#left h3 {
		font-size: 2.6em;
		transition: .3s, ease;
	}
	footer div div {
		float: none;
		width: 100%;
		padding: 0;
		text-align: center;
		transition: .3s ease;
	}
}

@media only screen and (max-width: 320px) {
	header {
		background: url(images/hippies.jpg) no-repeat right;
		background-size: cover;
		height: 352px;
	}
	section#about h1 {
		font-size: 1.5em;
	}
	.vast {
		font-size: 2.75em;
		margin-top: .5em;
	}
	section#mpls h2.cursive {
		font-size: 2em;
	}
	.column {
		width: 100%;
		trasition: .3s ease;
	}
	.mobile {
		float: none;
		width: 100%;
	}
	a.pinkbutton {
		width: 100%%;
	}
	section#schedule a.button {
		width: 100%%;
	}
	section#schedule div#saturday div.wrapper {
		float: none;
		width: 100%;
	}
	section#schedule div#saturday div#reception {
		margin-right: 0;
		margin-bottom: 2em;
	}
	section#schedule div#saturday div#afterparty {
		margin-left: 0;
	}
	section#mpls section#lodging a.button {
		width: 100%%;
	}
	section#mpls section#food h3 {
		visibility: hidden;
		height: 0;
	}
	section#gifts div.twocolumn {
		width: 100%;
		transition: .3s ease;
	}
	section#gifts div.twocolumn:first-child {
		margin-bottom: 1.5em;
	}
	section#gifts div.twocolumn:last-child {
		padding: 0;
	}
}